<div class="rt-content">
  <ol class="{{list.modifier}}">
    <li>Item</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis natus recusandae rerum assumenda, perspiciatis ea aspernatur facilis architecto delectus reprehenderit adipisci repudiandae, dolorem, facere dolor dolores quae incidunt libero ab.</li>
    <li>Item
      <ol>
        <li>Item</li>
        <li>Item
          <ol>
            <li>Item</li>
            <li>Item</li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Item</li>
  </ol>
</div>
