<div class="wall-news">
    <div class="row--outer">
        <div class="content-column">
            <h2>News</h2>
            <ul class="wall-news--list">
                <li>
                    <div class="teaser--news--full">
                        <span class="teaser-date">July 13th, 2017</span>
                        <h2></h2>
                        <p class="teaser-author"></p>
                        <p class="teaser-text">Web developers spend their days writing hypertext, but, byte for byte, most of the web is composed of images.</p>
                        <a class="button" href="">Read more</a>
                    </div>
                </li>
                <li>
                    <div class="teaser--news--full">
                        <span class="teaser-date">July 13th, 2017</span>
                        <h2></h2>
                        <p class="teaser-author"></p>
                        <p class="teaser-text">Web developers spend their days writing hypertext, but, byte for byte, most of the web is composed of images.</p>
                        <a class="button" href="">Read more</a>
                    </div>
                </li>
                <li>
                    <div class="teaser--news--full">
                        <span class="teaser-date">July 13th, 2017</span>
                        <h2></h2>
                        <p class="teaser-author"></p>
                        <p class="teaser-text">Web developers spend their days writing hypertext, but, byte for byte, most of the web is composed of images.</p>
                        <a class="button" href="">Read more</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="floor--text row--outer">
    <div class="content-column rt-content">
        <p>With Drupal 8, a CMS was implemented that is powerful, flexible and easy to handle. This was crucial as a long-term solution considering the a few thousand frontend users that would participate and communicate on this platform.</p>
    </div>
</div>
<div class="floor--text-w-img image-left">
    <div class="content-column">
        <h4><strong>Drupal 8</strong> CMS</h4>
        <p>With Drupal 8, a CMS was implemented that is powerful, flexible and easy to handle. This was crucial as a long-term solution considering the a few thousand frontend users that would participate and communicate on this platform.</p>
    </div>
    <div class="image-column">
        <img src="https://placehold.it/350x150" alt="alt">
    </div>
</div>
