<div>
  <div class="{{row.modifier}}" style="{{row.style}}">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In possimus odit, cum cumque repellat neque quibusdam cupiditate quod ratione laborum, sit beatae provident, necessitatibus? Tempora minus, doloribus beatae maiores totam.</p>
  </div>
</div>
