<div class="rt-content">
  <ul class="{{list.modifier}}">
    <li>Item</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis natus recusandae rerum assumenda, perspiciatis ea aspernatur facilis architecto delectus reprehenderit adipisci repudiandae, dolorem, facere dolor dolores quae incidunt libero ab.</li>
    <li>Item
      <ul>
        <li>Item</li>
        <li>Item</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis natus recusandae rerum assumenda, perspiciatis ea aspernatur facilis architecto delectus reprehenderit adipisci repudiandae, dolorem, facere dolor dolores quae incidunt libero ab.</li>
        <li>Item</li>
      </ul>
    </li>
    <li>Item</li>
  </ul>
</div>
