<div class="row--outer">
  <div class="column">
    <ul class="{{grid.modifier}}">
      {% for item in grid.items %}
      <li style="{{item.style}}"></li>
      {% endfor %}
    </ul>
  </div>
</div>
