<div {{ attributes }} class="{{ floor.modifier }}">
    <div class="content-column">
      {{ floor.text.content }}
    </div>
    <div class="image-column">
      {{ floor.image }}
    </div>
</div>
