<div class="{{ area.modifier }}">
  {{ area.image }}
  <div class="row--outer">
    <div class="hero-content">
      <h1>{{ area.title }}</h1>
      <p class="intro">{{ area.intro }}</p>
    </div>
  </div>
</div>
