<nav role="navigation" class="block block-menu navigation menu--footer">
  <ul>
    <li>
      <a href="#">Impressum</a>
    </li>
    <li>
      <a href="#">Datenschutz</a>
    </li>
    <li>
      <a href="#">AGB</a>
    </li>
  </ul>
</nav>
