<fieldset>
  <legend>
    <span>Ihre Nachricht:</span>
  </legend>
  <div class="form-type-textarea">
    <label>Your Message</label>
    <div>
      <textarea rows="5" cols="60"></textarea>
    </div>
  </div>
</fieldset>
