<div class="menu--tabs">
  <nav role="navigation" aria-label="Tabs">
    <h2 class="visually-hidden">Primary tabs</h2>
    <ul>
      <li>
        <a href="#" data-drupal-link-system-path="node/2" class="is-active">View<span class="visually-hidden">(active tab)</span></a>
      </li>
      <li>
        <a href="#" data-drupal-link-system-path="node/2/edit">Edit</a>
      </li>
      <li>
        <a href="#" data-drupal-link-system-path="node/2/delete">Delete</a>
      </li>
      <li>
        <a href="#" data-drupal-link-system-path="node/2/revisions">Revisions</a>
      </li>
      <li>
        <a href="#" data-drupal-link-system-path="node/2/translations">Translate</a>
      </li>
    </ul>
  </nav>

</div>
