<div class="cookie-compliance popup-content info">
    <div class ="row--outer">
      <div class="column">
        <div class="popup-text">
          {{ message }}
        </div>
        <div class="popup-buttons">
          <button type="button" class="agree-button">{{ agree_button }}</button>
        </div>
      </div>
    </div>
</div>
