.backend-actions {
  position: relative;

  nav.tabs {
    position: absolute;
    z-index: 2;
    right: rh(3);

    a {
      padding: rh(0.25) rh(0.5);

      &:hover,
      &:focus,
      &:active {
        color: $white;
        background-color: $wolverine;
      }
    }
  }

  ul.tabs {
    background-color: $white;
  }
}
