<div class="row--outer">
  <div role="contentinfo" aria-label="Status message" class="messages messages--{{messages.modifer}}">
    <h2 class="visually-hidden">Status message</h2>
    {{messages.content}}
  </div>
</div>
