@mixin stripe {
  width: 100%;
  margin: 0 auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@if $generate-styleguide-classes {
  .stripe {
    @include stripe;
  }
}
